{% extends 'base.html' %}
{% block title %}Order List{% endblock %}
{% block content %}
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<h4>Order List</h4>
<div class="container mt-5">
    <a href="#" class="btn btn-primary mb-3">Add Order</a>
    <table class="table">
        <thead>
            <tr>
                <th>ClientId</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>
                <td>{{ order.clientid }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.status }}</td>
                <td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
