
{% extends '../base.html' %}
{% load socialaccount %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-9">
        <br>
        <h2>Welcome to InfoPick Home</h2>
        <!-- Add your landing page content here -->
        <div>
            <p>Welcome to Your PG Accommodation, your trusted partner in providing comfortable and affordable living spaces for students and working professionals.</p>
            <p>At Your PG Accommodation, we understand the challenges of finding a safe and welcoming place to stay in a new city. That's why we strive to create a home away from home for our residents, offering clean and well-maintained facilities, along with a supportive community atmosphere.</p>
            <p>Our dedicated team is committed to ensuring the utmost satisfaction of our residents, providing prompt assistance and addressing any concerns promptly. We believe in fostering a sense of belonging and mutual respect among our residents, creating a conducive environment for personal growth and academic or professional success.</p>
            <p>Whether you're a student embarking on a new educational journey or a professional starting a career in a new city, Your PG Accommodation is here to make your transition smooth and hassle-free. Join our community today and experience the comfort and convenience of modern living!</p>
        </div>
    </div>
</div>
{% endblock %}

