#ignore __pycache_
infopick/__pycache_
#ignore infopick_app __pycache_
infopick_app/__pycache_
# Ignore virtual environment
venv/
# Ignore environment configuration files
.env
#ignore db.sqlite3
db.sqlite3